<%- include ('../partials/header') %>
<div class="container">
    <h1>Accessory Joining</h1>
    <div class="row">
        <div class="col bg-primary">
            <ul id="col-1">
                <% for(let i = 0; i < accessory_join.length; i++) { %>
                    <li class="bg-light"><%= accessory_join[i].product_name %></li>
                <% } %>
                <li class="bg-light">first</li>
                <li class="bg-light">second</li>
            </ul>
        </div>
        <div class="col bg-primary">
            <ul id="col-2">
                <% for(let i = 0; i < accessory_products.length; i++) { %>
                    <li class="bg-light"><%= accessory_products[i].name %></li>
                <% } %>
                <li class="bg-light">third</li>
                <li class="bg-light">fourth</li>
            </ul>
        </div>
    </div>
</div>


<script type="module">
    console.log('test')
</script>


<%- include('../partials/dragula') %>
