<%- include ('../partials/header') %>

<div class="container">
    <h1>Graduation Regalia Database</h1>
    <p>This project is a three-tier system, it uses:</p>
    <ul>
        <li>Front End: HTML/CSS/Javascript</li>
        <li>Back End: NodeJS/Express (with no ORM)</li>
        <li>Database: Postgresql</li>
    </ul>
    <p>Please see <a href="github.com/gregtroche/dbproject">github.com/gregtroche/dbproject</a> to review the backend code containing all the raw SQL queries. More information can be found in the readme of the repository including all of the stored procedures, functions, triggers, and views. The readme will also help to locate the er_diagram, which is also included in the repository</p>
    <p>All tables with CRUD operations can be found using the main navigation.</p>    
</div>

<%- include('../partials/footer') %>