<%- include ('../partials/header') %>

<div class="container">
    <h1>TEST</h1>
    <div class="col-md-4 rounded bg-light p-3">
        <!-- Add table here with results from query-->
    </div>
</div>

<%- include('../partials/footer') %>