<%- include ('../partials/header') %>

<h1>My schools</h1>
<p>ALL SCHOOL DATA: <%- JSON.stringify(schools) %></p>
<p>school data: <%- JSON.stringify(schools.rows) %></p>


<%- include('../partials/footer') %>