<%- include ('../partials/header') %>

<div class="container">
    <h1>Views</h1>
    <p>Two Views are available:</p>
    <a class="btn btn-primary" href="./event-view" role="button">Active Event View</a>
    <a class="btn btn-primary" href="./shipping-view" role="button">Ship to School View</a>
</div>

<%- include('../partials/footer') %>